@model About

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">

    <div class="form-group">
        <label>Name</label>
        <input type="text" asp-for="Text" class="form-control" />
    </div>

    <br>

    <div class="form-group">
        <label>Email</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Email</label>
        <input type="text" asp-for="Phone" class="form-control" />
    </div>

    <br />

    <div class="form-group">
        <label>Email</label>
        <input type="text" asp-for="Address" class="form-control" />
    </div>

    <br />

    <button class="btn btn-info">Save</button>
</form>